/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* styles.css or styles.scss */
.success-snackbar {
    background-color: #4caf50; /* Green */
    color: #fff;
  }
  
  .error-snackbar {
    background-color: #f44336; /* Red */
    color: #fff;
  }
  
  .info-snackbar {
    background-color: #2196f3; /* Blue */
    color: #fff;
  }
  